<section>
    <div class="sidebar-header">
        <span class="sidebar-header-title">
            最新文章
        </span>
    </div>
    <div class="sidebar-list" style="width:400px;">
        <ul class="sidebar-list-body sidebar-list-items">
            <section id="archive" class="archive">
                #set(List<Page> newest = pages.top(5))
                #for(Page page:newest)
                <li class="sidebar-list-item">
                    <a href="${page.url}">${page.date} ${page.title}</a>
                </li>
                #end
            </section>
        </ul>
    </div>
</section>