<!--Body Start-->
<div class="am-u-lg-8 am-u-sm-12">
    {{/* (index .Site.Paginate) */}}
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "post") }}
    {{ range $paginator.Pages }}
    {{ .Render "summary" }}
    {{ end }}
    <!-- pagination -->
    {{ partial "pagination.html" . }}
</div>
<!--Body End-->
<div class="am-u-lg-4 am-u-sm-10 am-u-lg-offset-0 am-u-sm-offset-0 sidebar-container">
    <!--About Me Start-->
    <section>
        <div class="sidebar-header">
        <span class="sidebar-header-title">
            关于博主
        </span>
        </div>
        <ul class="list-inline">
            <li>
                <a class="am-icon-btn am-icon-qq" target="_blank" itemtype="url"
                   href="tencent://message/?uin={{$.Site.Params.social.QQ}}&Site=junichi&Menu=yes"></a>
            </li>
            <li>
                <a class="am-icon-btn am-icon-github" target="_blank" itemtype="url"
                   href="https://github.com/{{$.Site.Params.social.GitHub}}"></a>
            </li>
            <li>
                <a class="am-icon-btn am-icon-weibo" target="_blank" itemtype="url"
                   href="{{$.Site.Params.social.WeiBo}}"></a>
            </li>
        </ul>
    </section>
    <!--About Me End-->
    <!--Category Start-->
    <section>
        <div class="sidebar-header">
            <span class="sidebar-header-title">
                分类列表
            </span>
        </div>
        <div class="sidebar-list">
            <ul class="sidebar-list-body sidebar-list-items">
                #for (Category category:categories)
                <li class="sidebar-list-item">
                    <a href="${category.url}">${category.name} (${category.pageFiles.size()})</a>
                </li>
                #end
            </ul>
        </div>
    </section>
    <!--Category End-->
    <!--Tag Start-->
    <section>
        <div class="sidebar-header">
        <span class="sidebar-header-title">
            标签列表
        </span>
        </div>
        <div class="tags">
            #for (Tag tag:tags)
            <a href="${tag.url}">${tag.name}</a>
            #end
        </div>
    </section>
    <!--Tag End-->
    <!--Newest Start-->
    <section>
        <div class="sidebar-header">
        <span class="sidebar-header-title">
            最新文章
        </span>
        </div>
        <div class="sidebar-list" style="width:400px;">
            <ul class="sidebar-list-body sidebar-list-items">
                <section id="archive" class="archive">
                    #for(Page page:pageFiles.top(5))
                    <li class="sidebar-list-item">
                        <a href="${page.url}">${page.date} ${page.title}</a>
                    </li>
                    #end
                </section>
            </ul>
        </div>
    </section>
    <!--Newest End-->
</div>